
includeConfig './configs/template.config'

manifest {
    author                          = 'John Arnn'
}

profiles {
    docker {
    docker.enabled                = true
    docker.runOptions             = "-u \$(id -u):\$(id -g)"

    }

    test {
    docker.enabled                = true
    docker.runOptions             = "-u \$(id -u):\$(id -g)"
    params.multi_fasta            = './data/sequences.fasta'
    params.metadata               = './data/metadata.tsv'
    params.dropped_strains        = './data/dropped_strains.txt'
    params.outgroup               = './data/zika_outgroup.gb'
    params.group_by               =  'country year month'
    params.sequences_per_group    =  '20'
    params.min_date               =  '2012'
    params.fill_gaps              = true
    params.date_confidence        = true
    params.timetree               = true
    params.coalescent             = 'opt'
    params.date_inference         = 'marginal'
    params.clock_filter_iqd       = '4'
    params.indentify_aa_mutations = true
    params.columns                = '[region country]'
    params.confidence             = true
    params.inference              = 'joint'
    params.colors                 = './data/colors.tsv'
    params.lat_longs              = './data/lat_longs.tsv'
    params.auspice_config         = './data/auspice_config.json'
    }

    test2 {
    docker.enabled                = true
    docker.runOptions             = "-u \$(id -u):\$(id -g)"
    params.multi_fasta            = './data/sequences.fasta'
    params.metadata               = './data/metadata.tsv'
    params.dropped_strains        = './data/dropped_strains.txt'
    params.outgroup               = './data/zika_outgroup.gb'
    }

}
